*{ box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consola0 {
    height: 30em;
    width: 50em;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frentegeneral{
    height: 27em;
    width: 49em;
    background-color: darkkhaki;
    display: flex;
}

.frentelateralizq{
    height: 27em;
    width: 12em;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frentecentral{
    height: 27em;
    width: 25em;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.frentelateralder{
    height: 27em;
    width: 12em;
    background-color: rgb(65, 165, 45);
    display: flex;
    flex-direction: column;
}

.espacioarriba{
    height: 2.5em;
    width: 12em;
    background-color: crimson;
}

.etiquetagameandwatch{
    height: 5em;
    width: 6em;
    background-color: rgb(219, 222, 232);
    background-image: url(/img/logo\ game\ and\ watch\ pro.png);
    background-size: 96%;
    background-repeat: no-repeat;
    border-radius: 8px 8px 8px 8px;
    border: 0.05em solid #1a1818;
}

.espaciocentro{
    height: 9em;
    width: 12em;
    background-color: darkorange;
}

.comandos{
    height: 8em;
    width: 8em;
    /* background-color: darkgrey; */
    display: flex;
    flex-direction:row;  
}
.arrow{
    text-align: center;
    font-size: 2em;
    line-height: 0.1em
}



.flech, .flechvacio{
    height: 2.7em;
    width: 2.7em;
    background-color: cadetblue;
    border: solid; 
}

.flechvacio{
    background: none;
}

.espacioabajo{
    height: 2.5em;
    width: 12em;
    background-color: rgb(131, 100, 106);
}

.marco{
    height: 25em;
    width: 25em;
    background-color: rgb(223, 83, 83);
    display: flex;
    justify-content: center;
    align-items: center;
}

.teclasvarias{
    width: 12em;
    height: 13.5em;
    background-color: aquamarine;
}

.botones{
    width: 12em;
    height: 15.5em;
    background-color: rgb(148, 165, 160);
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    
}

.botonletraB, .botonletraA{
    width: 2em;
    height: 2em;
    background-color: aquamarine;
    text-align: center;
    margin-left: 2.4em;
    margin-top: 0.3em;
}

.botonletraA{
    margin-left: 3.3em;
}
.teclas{
    width: 5.2em;
    height: 13.5em;
    background-color: rgb(124, 124, 73);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: right;
    justify-content: flex-start     

    
}

.accesosabotones{
    width: 12em;
    height: 7.88em;
    background-color: rgb(151, 136, 212);
    display: flex;
    justify-content: center;
    align-items: end;
    justify-content: space-evenly;
    
}

.botongame, .botontime, .botonpause{
    width: 3.2em;
    height: 2.2em;
    background-color: rgb(169, 136, 26);
    margin-top: 1em;
    border-radius: 20em;
    border-style: solid;
    border-width: 0.55em;
    border-color: rgb(122, 2, 2);
}

.textogame, .textotime, .textopause{
    font-size: 0.75em;
    font-family: Arial;
    font-weight: bolder;
    background-color: aqua;

}
.textogame{
    margin-right: 0.6em;
    
}
.textotime{
    margin-right: 1em;
}
.textopause{
    margin-right: 0.5em;
}

.marcomedio{
    height: 22em;
    width: 23.9em;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.etiquetasupermario{
    height: 2.3em;
    width: 23.2em;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.etiqueta{
    height: 1em;
    width: 14em;
    background-color: blueviolet;
    font-family: Arial;
    text-align: center;
    font-size: 1.3em;
    
    
}

.etiquetanintendo{
    height: 2.3em;
    width: 23.2em;
    background-color: chocolate;
    display: flex;
    justify-content: center;
}

.logonintedo{
    height: 2em;
    width: 10em;
    background-color: rgb(159, 162, 154);
    background-image: url(/img/nintendo-logo-png-transparent\ \(1\).png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position-x:1.7em;
    background-position-y:0.2em;
    /* margin-left: 3.5em; */
    margin-top: 0.2em;   
}

.marcopantalla{
    height: 17em;
    width: 23.2em;
    background-color: rgb(41, 198, 41);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondopantalla{
    height: 16.2em;
    width: 22em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pantalla{
    height: 15.5em;
    width: 20.5em;
    background-image: url(/fotografia2.avif);
    background-size: 120%; background-repeat: no-repeat; 
}

.botonB, .botonA{
    height: 4em;
    width: 4em;
    background-color: red;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.55em;
    border-color: rgb(122, 2, 2);   
}

.letrasdebotones{
    display: flex;
} 

