*{ box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    background-image: url(/img/fondo.jpg);
    background-size: 100% 100%;
    image-orientation: flip;
    display: flex;
    background-repeat: no-repeat;
}

.consola0 {
    height: 30em;
    width: 50em;
    background-color: rgb(154, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4em;
    box-shadow:  0em  0em 0.7em 0.3em rgba(13, 10, 10, 0.967);
}

.frentegeneral{
    height: 27em;
    width: 49em;
    display: flex;
    background-image: url(/img/fondonew.jpg);
    background-color: blue;
    border-radius: 0.4em;
    box-shadow:  0em  0em 0.7em 0.3em rgba(97, 88, 88, 0.967);
}

.frentelateralizq{
    height: 27em;
    width: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frentecentral{
    height: 27em;
    width: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frentelateralder{
    height: 27em;
    width: 12em;
    display: flex;
    flex-direction: column;
}

.espacioarriba{
    height: 2.5em;
    width: 12em;
}

.etiquetagameandwatch{
    height: 5em;
    width: 6em;
    background-color: rgb(219, 222, 232);
    background-image: url(/img/logo\ game\ and\ watch\ pro.jpg.png);
    background-size: 96%;
    background-repeat: no-repeat;
    border-radius: 8px 8px 8px 8px;
    border: 0.05em solid #1a1818;
    box-shadow: 0em 0em 0em 0em rgb(2, 2, 2);
}

.espaciocentro{
    height: 9em;
    width: 12em;
}

.comandos{
    height: 8em;
    width: 8em;
    display: flex;
    flex-direction:row;      
}

.arrow1, .arrow2, .arrow3, .arrow4, .arrow5{
    font-size: 2em;
    line-height: 0.1em;
    box-shadow: 0em 0em 5em 0.1em rgba(255, 252, 252, 0.967);
}

.arrow1{
    margin-top: 0.45em;
}

.arrow2{
    margin-top: 0.45em;
    text-align: center;
}

.arrow3{
    margin-top: 0.63em;
    margin-left: 0.26em;
}

.arrow4{
    margin-top: 0.65em;
}

.arrow5{
    margin-top: 0.45em;
    margin-left: 0.30em;
    box-shadow: 0em 0em 5em 0.1em rgba(255, 252, 252, 0.967);
}

.flech1, .flech2, .flech3, .flech4, .flech5, .flechvacio{
    height: 2.7em;
    width: 2.7em;
    display: flex;
    background-color: rgb(19, 19, 19);   
}

.flech1{
    border-top: 0.4em solid rgb(154, 25, 25);
    border-bottom: 0.4em solid rgb(154, 25, 25);
    border-left: 0.4em solid rgb(154, 25, 25);
    border-radius: 0.4em;
    box-shadow:  0 0em 0.2em 0.1em rgb(137, 72, 72);  
}

.flech2{
    border-top: 0.4em solid rgb(154, 25, 25);
    border-right:0.4em solid rgb(154, 25, 25);
    border-left: 0.4em solid rgb(154, 25, 25);
    border-radius: 0.4em
}

.flech4{
    border-right: 0.4em solid rgb(154, 25, 25);
    border-bottom: 0.4em solid rgb(154, 25, 25);
    border-left: 0.4em solid rgb(154, 25, 25);
    border-radius: 0.4em
}

.flech5{
    border-top: 0.4em solid rgb(154, 25, 25);
    border-bottom: 0.4em solid rgb(154, 25, 25);
    border-right: 0.4em solid rgb(154, 25, 25);
    border-radius: 0.4em
}

.flechvacio{
    background: none;
}

.espacioabajo{
    height: 2.5em;
    width: 12em;
}

.marco{
    height: 25em;
    width: 25em;
    background-image: url(/img/estilocuerpo.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0 0em 0.5em 0.8em rgba(192, 165, 152, 0.967);
    border-radius: 0.5em;
}

.teclasvarias{
    width: 12em;
    height: 13.5em;
}

.botones{
    width: 12em;
    height: 15.5em;
    display: flex;
    flex-direction: column;
}

.botonletraB, .botonletraA{
    width: 2em;
    height: 2em;
    text-align: center;
    margin-left: 2.4em;
    margin-top: 0.3em;
}

.botonletraA{
    margin-left: 3.3em;
}
.teclas{
    width: 5.2em;
    height: 13.5em;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: right;
    justify-content: flex-start     
}

.accesosabotones{
    width: 12em;
    height: 7.88em;
    display: flex;
    justify-content: center;
    align-items: end;
    justify-content: space-evenly;
}

.botongame, .botontime, .botonpause{
    width: 3.2em;
    height: 2.2em;
    background: linear-gradient(110deg, rgb(248, 238, 238) 0%, rgb(184, 184, 184) 19%, rgb(140, 139, 139) 47%);
    border-radius: 20em;
    border-style: solid;
    border-width: 0.47em;
    border-color: rgb(154, 25, 25);
    box-shadow:  0 0em 0.2em 0.1em rgba(13, 10, 10, 0.967);
}

.botongame{
    margin-top: 1em;
}

.botongame:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px #888888;
    
}

.textogame, .textotime, .textopause{
    font-size: 0.70em;
    font-family: Arial;
    font-weight: bolder;
}

.textogame{
    margin-right: 0.8em;
    margin-top: 0.11em;
    
}
.textotime{
    margin-right: 1.1em;
    margin-top: 0.11em;
}

.textopause{
    margin-right: 0.6em;
    margin-top: 0.11em;
}

.marcomedio{
    height: 22em;
    width: 23.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.etiquetasupermario{
    height: 2.3em;
    width: 23.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.etiqueta{
    height: 1em;
    width: 14em;
    font-family: Arial;
    text-align: center;
    font-size: 1.3em;  
}

.etiquetanintendo{
    height: 2.3em;
    width: 23.2em;
    background-image: url(/prueba1.webp);
    display: flex;
    justify-content: center;
}

.logonintedo{
    height: 3em;
    width: 15em;
    background-image: url(/img/nintendo.png);
    
    
    background-size: 65%;
    background-repeat: no-repeat;
    /* background-position-x:1.7em;
    background-position-y:0.2em; */
    margin-top: 0.1em;   
    background-size: 7.5em;
    background-position: center;
}

.marcopantalla{
    height: 17em;
    width: 23.2em;
    box-shadow: 0,0,10em,0 rgb(154, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    background-color: rgb(154, 25, 25);
    box-shadow:  0 0em 0.2em 0.1em rgba(13, 10, 10, 0.967);
}

.fondopantalla{
    height: 16.2em;
    width: 22em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0 0em 0.2em 0.1em rgba(13, 10, 10, 0.967);
}

.pantalla{
    height: 15.5em;
    width: 20.5em;
}

.pantallaEncendida{
    background-image: url(/img/pantallavideo.jpg);
    background-size: 23em 15em; background-repeat: no-repeat; 
    background-position: center;
}

.botonB, .botonA{
    height: 4em;
    width: 4em;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.55em;
    border-color: rgb(154, 25, 25);
    background: linear-gradient(110deg, rgba(226,180,180,1) 0%, rgba(200,24,24,1) 24%, rgb(226, 78, 78) 75%);
    box-shadow:  0 0em 0.2em 0.1em rgba(13, 10, 10, 0.967);
}

.botonB:hover, .botonA:hover {
    box-shadow: 2px 2px 5px #888888;
    
}

.letrasdebotones{
    display: flex;
    font-family: Arial;
    font-weight: bolder;
} 